doctype html
html(ng-app='warboat')
  head(lang='en')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title WARBOAT
    // styles
    link(rel='stylesheet', href='bower_components/animate.css/animate.css')
    link(rel="stylesheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css")
    link(rel='stylesheet', href='css/app.css')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/jquery-ui//jquery-ui.min.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/firebase/firebase.js')
    script(src='bower_components/angularfire/dist/angularfire.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src="bower_components/angular-ui-grid/ui-grid.min.js")
    script(src='js/main.js')
    //- script(src='js/controllers/*js')
    //- script(src='js/services/*js')
    base(href='/')
  body
    .container-fluid
      h1.main-header WARBOAT - BOATS AT WAR
      // views
      div(ui-view='')
    // scripts
