$white: #fcfcfc;

html, body {
  height: 100% !important;
}

body {
  background: url('../img/grate-clipart.jpg');
  background-repeat: repeat;

}

.cover{
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,.6);
}

 .main-header {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 4em;
  vertical-align: middle;
  background-color: #cc0000;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: rgba(122,0,0,0.5) 0px 3px 3px;
}

.navbar{
  margin: 0;
  border-radius: 0;
    -webkit-filter: drop-shadow(5px 5px 10px black) !important;
}

.container-fluid{
  padding-top: 9%;
  padding-left: 5%;
  height: 80%;
}
