html, body {
  height: 100% !important;
}

body {
  // background: url('../img/waves.gif');
  // background-color: #a0d6b4;

}

 .main-header {
  margin-bottom: 3%;
  width: 100%;
  text-align: center;
}
