.board-cell{
  border: 2px solid black;
  position: relative;
   width: 10%;
   padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
   margin:1.66%;
   overflow:hidden;
   text-align:center;
   vertical-align:middle;
  &:hover{
    background-color: #CC6A6A;
  }


}

.content{
  position:absolute;
  height:100%; /* = 100% - 2*10% padding */
  width:100%; /* = 100% - 2*5% padding */
  text-align: center;
  vertical-align: middle;
}

.board-table{

  width: 100%;

  border-radius: 5px;

  tr{
    vertical-align: middle;
  }
}



#your-fleet table tr td{
  vertical-align: middle;
}

#your-fleet table tr td:first-child{
  width: 30%;
}

#your-fleet table tr td:last-child{
  width: 70%;
}


#enemy-fleet{
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  width: 95%;
}

#enemy-board .board-cell{
   &:hover {
     cursor: url('../img/target.png') 10 10, auto;
   }
}

#enemy-board, #player1-board{
  -webkit-filter: drop-shadow(3px 3px 10px black) !important;

  > table {
    background-color: $white;
  }
}

#reset{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 0;
  -webkit-filter: drop-shadow(3px 3px 10px black) !important;

  &:hover{
    background-color: #cc0000 !important;
    border: none;
    color: $white;
  }
}

#messages {
  height: 68px;
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
  background: url('../img/metal-plate.jpg');
  background-size: cover;
  -webkit-filter: drop-shadow(3px 3px 10px black) !important;
}

#fleets{
  padding-left: 10px;
}

#your-fleet{
  height: 20%;
 h4 {
   color: #cc0000;
 }
}

#player1-board{
  margin-left: 30px;
}

#your-fleet, #enemy-fleet{
  background: url('../img/metal-plate.jpg');
  background-size: cover;
  -webkit-filter: drop-shadow(3px 3px 10px black) !important;

  h4{
    text-align: center;
    font-size: 1em;
  }
}

.table.fleet{
  border-color: 1px solid darkGrey;
}
