// .board.row{
//   display: block;
// }

.board-cell{
  // display: inline-block;
  border: 2px solid black;
  // width: 30%;
  // padding-bottom: 30%;
  position: relative;
   width: 10%;
   padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
   margin:1.66%;
   overflow:hidden;
   text-align:center;
   vertical-align:middle;
   //
  &:hover{
    background-color: yellow;
  }


}

.content{
  position:absolute;
  height:100%; /* = 100% - 2*10% padding */
  width:100%; /* = 100% - 2*5% padding */
  // padding: 10%;
  text-align: center;
  vertical-align: middle;
  // top: 27%;
}

.board-table{
  // background: url('../img/waves.gif');
  // background-size: cover;

  width: 100%;

  border-radius: 5px;

  tr{
    vertical-align: middle;
  }
}


.grid {
  // width: 500px;
  // height: 250px;
}

#your-fleet table tr td{
  vertical-align: middle;
}

#your-fleet table tr td:first-child{
  width: 30%;
}

#your-fleet table tr td:last-child{
  width: 70%;
}


#enemy-fleet{
  margin-top: 15px;
  text-align: center;
}

#enemy-board .board-cell{
   &:hover {
    //  cursor: pointer;
     cursor: url('../img/target.png') 10 10, auto;
   }
}

#reset{
  width: 100%;
  margin-bottom: 15px;
}

#messages {
  height: 68px;
  padding: 10px;
  margin-bottom: 15px;
  overflow: scroll;
  border: 2px solid black;
}
