// .board.row{
//   display: block;
// }

.board-cell{
  // display: inline-block;
  border: 2px solid black;
  // width: 30%;
  // padding-bottom: 30%;
  position: relative;
   width: 10%;
   padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
   margin:1.66%;
   overflow:hidden;
   text-align:center;
   vertical-align:middle;

   &:hover{
     cursor: pointer;
   }

}

.content{
  position:absolute;
  height:100%; /* = 100% - 2*10% padding */
  width:100%; /* = 100% - 2*5% padding */
  // padding: 10%;
  text-align: center;
  vertical-align: middle;
  top: 27%;
}

.board-table{
  width: 100%;

  tr{
    vertical-align: middle;
  }
}

.bship-cell{
  border: 2px solid black;
  position: relative;
   width: 25%;
   padding-bottom: 25%; /* = width for a 1:1 aspect ratio */
   margin:1.66%;
   overflow:hidden;

   &:hover{
     cursor: pointer;
   }

}


.bship-table{
  // margin-top: 20px;
  width: 40%;
}

#player1-board, #opponent-board{
  // width: 40%;
}

#player1-board{
  // float: left;
}

#opponent-board{
  // float: right;
}


.grid {
  // width: 500px;
  // height: 250px;
}
