.fleets{
  z-index: 1;
}

#draggable{
  z-index: 2;
}

.wb-over {
    border: 2px dashed black !important;
    background-color: yellow;
  }

  .wb-target {
    // border: 2px solid #ddd;
    background-color: #ddd;
    // opacity: .5;
  }

  [draggable] {
    cursor: move;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }

#your-fleet img.carrier{
  width: 80%;
}

#your-fleet img.battleship{
  width: 65%;
}

#your-fleet img.destroyer{
  width: 65%;
}

#your-fleet img.submarine{
  width: 50%;
}

#your-fleet img.patrol{
  width: 32%;
}

#enemy-fleet img.carrier{
  width: 80%;
}

#enemy-fleet img.battleship{
  width: 65%;
}

#enemy-fleet img.destroyer{
  width: 65%;
}

#enemy-fleet img.submarine{
  width: 50%;
}

#enemy-fleet img.patrol{
  width: 43%;
}

.drag-image{
  width: 30px;
}

.child-element{
  pointer-events: none;
}

.boat-on-cell{
  border: 2px dashed black !important;
  background-color: #20b2aa;
}

.ship-placed{
  opacity: .2 !important;
}
